ul {
    list-style-type: none;
  }
  .index-heading, .tech-heading{
   text-align: center; 
   color: black
  }
/* .index-body{
  background: #007BFF;
} */
  .index-container{
    padding-top: 80px;
   
  }
  .row.justify-content-md-center div.col-md-4{
    background-color: lightgray;
    height: 350px;
    border: #000035;
    border-width: 10em;
    border-style: solid;
    border-radius: 1em;  
    box-shadow: 3px 3px #007BFF;
  }
#divOnline, #divChtScrn {
  background-color: #EFF5D3;
}
body{
  background-image: url('./../img/background-city.jpg');
  /* background-image: url('./../img/background-WC.jpg'); */
  opacity: 70;
}
.message{
  background-color:  lightgray;
  border-width: 3;
  border-color: #007BFF;
  border-radius: .3em;
}
 /* https://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg */

 h5.text-warning.text-block, div.well#users{
  text-align: left;
 }
  